@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Raleway:wght@400;600;700;800&display=swap");

#navbar img {
  height: 28px;
  width: auto;
  object-fit: cover;
}

#navbar .navbar-expand-lg {
  background: linear-gradient(to right, #ffffff, #00000000);
}

#navbar .active {
  color: #fdc20c;
}

.navbar .navbar-nav .nav-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  padding: 0 30px;
  font-size: 1.1em;
  position: relative;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fdc20c;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fdc20c;
  color: transparent;
  width: 0%;
  content: ".";
  height: 3px;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 50%;
}

/* content */
#content h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 87px;
}

#content p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #acacac;
}

#content img {
  width: 17rem;
  height: 16rem;
  margin-bottom: 240px;
  margin-top: 177px;
}

/* package */
#package .discon img,
#package .delivery img {
  width: 77px;
  height: 77px;
  margin-bottom: 25px;
}

#package .discon h5,
#package .delivery h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

#package .discon p,
#package .delivery p {
  font-family: "Poppins", sans-serif;
  color: #acacac;
  font-size: 16px;
  line-height: 24px;
}

#package .bestQuality img,
#package .healthyMenu img {
  width: 77px;
  height: 77px;
  margin-bottom: 25px;
}

#package .bestQuality h5,
#package .healthyMenu h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

#package .bestQuality p,
#package .healthyMenu p {
  font-family: "Poppins", sans-serif;
  color: #acacac;
  font-size: 16px;
  line-height: 24px;
}

/* informasi */
#informasi {
  margin-top: 200px;
}

#informasi h5 {
  margin-top: 312px;
  margin-bottom: 63px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

#informasi .input-group {
  margin-bottom: 47px;
  width: 66%;
  height: 58px;
  background: #ffffff;
  border: 2px solid #fdc20c;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 17%;
}

#informasi .btn-warning {
  background: #fdc20c;
  border-radius: 50px;
  width: 190px;
  height: 47px;
}

/* footer */
#footer hr {
  margin-top: 151px;
  border: 2px solid #fdc20c;
}

#footer img {
  width: auto;
  height: 28px;
  margin-bottom: 25px;
}

#footer .bi-facebook, .bi-instagram, .bi-twitter, .bi-youtube {
  font-size: 25px;
  color: #acacac;
  margin-right: 10px;
}

#footer a:hover {
  color: orange;
}

#footer .bi-facebook:hover, .bi-instagram:hover, .bi-twitter:hover, .bi-youtube:hover {
  color: orange;
}

#footer ul {
  margin: 0px;
  padding: 0px;
}

#footer ul li {
  list-style: none;
}

#footer ul li a {
  text-decoration: none;
  color: #acacac;
  font-size: 16px;
  margin: 8px 0px;
  display: block;
}

#footer .text-dark {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: auto;
}