@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Raleway:wght@400;600;700;800&display=swap');

#navbar img {
  height: 28px;
  width: auto;
  object-fit: cover;
}

#navbar .navbar-expand-lg {
  background: linear-gradient(to right, #ffffff, #00000000);
}

#navbar .active {
  color: #fdc20c;
}

.navbar .navbar-nav .nav-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  padding: 0 30px;
  font-size: 1.1em;
  position: relative;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fdc20c;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fdc20c;
  color: transparent;
  width: 0%;
  content: ".";
  height: 3px;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 50%;
}
 
/* banner */
#banner h2 {
    margin-top: 143px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    line-height: 60px;
}

#banner p {
    font-family: "Poppins", sans-serif;
    color: #acacac;
    font-size: 16px;
    padding: 21px 0px;
    line-height: 24px;
}

#banner .btn-warning {
    border-radius: 50px;
    color: #ffffff;
}

#banner .lihatDetail {
    text-decoration: none;
    color: #fdc20c;
}

#banner .lihatDetail:hover {
    text-decoration: underline;
    color: #fdc20c;
}

#banner .gambarBanner {
    width: auto;
    height: 31rem;
    margin-bottom: 124px;
}

/* buah */
#buah .gambarBuah {
    width: auto;
    height: 34rem;
}

#buah .contentBuah p {
    font-weight: 500;
    margin-top: 20px;
    color: #84d387;
    font-family: "Poppins", sans-serif;
}

#buah .contentBuah h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    font-family: "Poppins", sans-serif;
    margin: 26px 0px;
}

#buah .contentBuah h2 {
    line-height: 24px;
    font-size: 16px;
    color: #acacac;
    font-family: "Poppins", sans-serif;
}

#buah .btn-warning {
    margin: 26px 0px;
    border-radius: 50px;
    color: #ffffff;
}

/* menu */
#menu h1 {
    margin-top : 180px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 60px;
}

#menu p {
    color: #acacac;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 32px;
}

#menu .lihatSemua {
  text-decoration: none;
  color: #fdc20c;
}

#menu .lihatSemua:hover {
  text-decoration: underline;
}

#menu .card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  object-fit: cover;
}

#menu a {
  border-radius: 50px;
  color: #ffffff;
}

#menu img {
  background-color: #e8e8e8;
  border-radius: 10px;
}

#menu .card-tittle {
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* informasi */
#informasi {
  margin-top: 200px;
}

#informasi h5 {
  margin-top: 312px;
  margin-bottom: 63px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

#informasi .input-group {
  margin-bottom: 47px;
  width: 66%;
  height: 58px;
  background: #ffffff;
  border: 2px solid #fdc20c;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 17%;
}

#informasi .btn-warning {
  background: #fdc20c;
  border-radius: 50px;
  width: 190px;
  height: 47px;
}

#informasi .btn-warning:hover {
  background-color: orange;
}

/* footer */
#footer hr {
  margin-top: 151px;
  border: 2px solid #fdc20c;
}

#footer img {
  width: auto;
  height: 28px;
  margin-bottom: 25px;
}

#footer .bi-facebook, .bi-instagram, .bi-twitter, .bi-youtube {
  font-size: 25px;
  color: #acacac;
  margin-right: 10px;
}

#footer a:hover {
  color: orange;
}

#footer .bi-facebook:hover, .bi-instagram:hover, .bi-twitter:hover, .bi-youtube:hover {
  color: orange;
}

#footer ul {
  margin: 0px;
  padding: 0px;
}

#footer ul li {
  list-style: none;
}

#footer ul li a {
  text-decoration: none;
  color: #acacac;
  font-size: 16px;
  margin: 8px 0px;
  display: block;
}

#footer .text-dark {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: auto;
}